@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --font-default: "NotoSanMono", "Helvetica Neue", Arial, "Noto Sans";
  --font-primary: "NotoSerif_b";
  --font-secondary: "NotoSerif_m";
  --font-oswald_m: "Oswald_m";
  --font-jetbrain_i: "JetBrain_i";
  --font-jetbrain_m: "JetBrain_m";
  --text-multiplier: 1.8;
  --p-primary-50:  #F3F4F9;
  --p-primary-100: #E6E7EF;
  --p-primary-200: #D9DAE5;
  --p-primary-300: #BCC0D1;
  --p-primary-400: #9FA6BD;
  --p-primary-500: #838CAA; 
  --p-primary-600: #697091;
  --p-primary-700: #505778; 
  
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--body-bg);
  font-weight: normal;
  /* color: var(--body-text-color); */
  font-family: "Public Sans",sans-serif,-apple-system,blinkmacsystemfont,
  "Segoe UI",roboto,"Helvetica Neue",arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
h1 {
  font-size: calc(2em * var(--text-multiplier));
  font-family: var(--font-oswald_m);
  color: #ef90d0;
  font-weight: bold;
}
h4 {
  padding-top: 1rem;
  font-weight: 400;
  font-family: var(--font-jetbrain_m);
  color: aliceblue;
  font-size: 24px;
}
